a, a:hover {
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: #ce2a1d;
}

main {
    min-height: 800px;
}

nav a.nav-link:hover {
    text-decoration: underline;
}

.carousel-item h3 {
    bottom: 15px;
    left: 20px;
}

#carousel-prev, #carousel-next {
    font-size: 48px;
    transition: color ease 0.3s;
}

#carousel-prev:hover, #carousel-next:hover {
    cursor: pointer;
    color: #ce2a1d;
}

.carousel-item.hidden {
    visibility: hidden;
}

.carousel-item.hide {
    animation: carousel-hide .5s;
    animation-fill-mode: forwards;
}

.carousel-item.show {
    animation: carousel-show .5s;
    animation-fill-mode: forwards;
}

@keyframes carousel-hide {
    0% {
        opacity: 100%;
        visibility: visible;
    }

    100% {
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes carousel-show {
    0% {
        opacity: 0%;
        visibility: hidden;
    }

    100% {
        opacity: 100%;
        visibility: visible;
    }
}

.carousel-dots {
    font-size: 10px;
    color: grey;
}

.carousel-dots i {
    transition: color ease 0.3s;
}

.carousel-dots i.selected {
    color: #212529;
}

div.card {
    transition: 0.3s ease;
}

div.card:hover {
    transform: translateY(-5px);
    border-color: #ffc107;
    box-shadow: 0px 5px 10px rgba(255, 193, 7, 0.7);
}

.popular-products {
    margin-top: 100px;
}

.delete-button {
    width: 100px;
}

/* ФУТЕР, FOOTER */
footer a:hover {
    text-decoration: underline;
}

footer i {
    font-size: 24px;
}

/* ЗАГРУЗКА, СПИННЕР, LOADING, SPINNER */
.loading-spinner {
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 193, 7, 0.3);
    border-radius: 50%;
    border-top-color: #ffc107;
    margin: auto;
    animation: .7s spin infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}